div.myForm {
    width: 400px;
    padding: 20px 50px 20px 50px;
    margin: auto;
    background: #bbbbbb;
}
div.myForm-contain {
    width: 50%;
    margin: auto;
}
.title {
    font: bold 14pt serif;
    bottom: 20px;
}
.button {
    background-color: #16c2fd;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text], input[type=password] {
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}